* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.curly-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  height: 50px;
  border-radius: 100px;
  white-space: nowrap;
}
